# audio visual

In [1]:
import pandas as pd
from IPython.display import HTML
from package import audio

df = pd.DataFrame({
    'Vowel': ['ߊ',
              'ߋ',
              'ߌ',
              'ߍ',
              'ߎ',
              'ߏ',
              'ߐ',
             ],
    
    'Sound': 
    [
    audio.player('resource/asset/audio/1_kan.mp3',''),
    audio.player('resource/asset/audio/1_kan.mp3',''),
    audio.player('resource/asset/audio/1_kan.mp3',''),
    audio.player('resource/asset/audio/1_kan.mp3',''),
    audio.player('resource/asset/audio/1_kan.mp3',''),
    audio.player('resource/asset/audio/1_kan.mp3',''),
    audio.player('resource/asset/audio/1_kan.mp3',''),
    ]
})


HTML(df.to_html(escape=False,index=False))

In [2]:
import pandas as pd

# Sample DataFrame
data = {'Name': ['Alice', 'Bob', 'Charlie'],
        'Age': [25, 30, 35],
        'City': ['New York', 'San Francisco', 'Chicago']}

df = pd.DataFrame(data)

# Center-align all the cells
df_styled = df.style.set_properties(**{'text-align': 'center'})

# Display the DataFrame
df_styled