# river

In [1]:
# HIDDEN
import pandas as pd
from IPython.display import HTML

# Define headers and values (as lists)
headers = ['Image', 'nko', 'pronounciation', 'nko pronouncition','image']
values = [
    ['', '', 'River','dja',''],
    ['', '', 'Ocean','dja',''],
    ['', '', 'Atlantic','',''],
    ['', '', 'Pacific','',''], 
    ['', '', 'Mediteranean','',''],
    ['', '', 'Red Sea','',''],     
    
    
  
]

# Create the DataFrame with headers and rows of values
df = pd.DataFrame(values, columns=headers)

HTML(df.to_html(escape=False))