In [ ]:
# star

In [2]:
# HIDDEN
import pandas as pd
from IPython.display import HTML

# Define headers and values (as lists)
headers = ['Planet', 'nko', 'pronounciation', 'nko pronouncition','image']
values = [
    ['Sun', '', '','',''],
    ['Moon', '', '','',''],
    ['Earth', '', '','',''],
    ['Jupiter', '', '','',''],
    ['Saturn', '', '','',''],
    ['Uranus', '', '','',''],
    ['Neptune', '', '','',''],
    ['Mars', '', '','',''],
    ['Pluto', '', '','',''],
    ['Venus', '', '','',''],
    ['Mercury', '', '','',''],
    ['Ceres', '', '','',''],
    ['Haumea', '', '','',''],
    ['Comet', '', '','',''],
    ['Asteroid', '', '','',''],
]

# Create the DataFrame with headers and rows of values
df = pd.DataFrame(values, columns=headers)

HTML(df.to_html(escape=False))

In [ ]:
# Zodiac

In [8]:
# HIDDEN
import pandas as pd
from IPython.display import HTML

# Define headers and values (as lists)
headers = ['Zodiac', 'nko', 'pronounciation', 'nko pronouncition','image']
values = [
    ['Aquarius', '', '','',''],
    ['Leo', '', '','',''],
    ['Sagittarius', '', '','',''],
    ['Gemini', '', '','',''],
    ['Taurus', '', '','',''],
    ['Virgo', '', '','',''],
    ['Libra', '', '','',''],
    ['Scorpio','','',''],
    ['Aries', '', '','',''],
    ['Pisces', '', '','',''],
    ['Capricorn', '', '','',''],
    ['Cancer', '', '','',''],
]

# Create the DataFrame with headers and rows of values
df = pd.DataFrame(values, columns=headers)

HTML(df.to_html(escape=False))

# Chinese zodiac

In [10]:
# HIDDEN
import pandas as pd
from IPython.display import HTML

# Define headers and values (as lists)
headers = ['Zodiac', 'nko', 'pronounciation', 'nko pronouncition','image']
values = [
    ['Rat', '', '','',''],
    ['Ox', '', '','',''],
    ['Rabbit', '', '','',''],
    ['Dragon', '', '','',''],
    ['Snake', '', '','',''],
    ['Horse', '', '','',''],
    ['Goat', '', '','',''],
    ['Monkey','','',''],
    ['Rooster', '', '','',''],
    ['Dog', '', '','',''],
    ['Pig', '', '','',''],
]

# Create the DataFrame with headers and rows of values
df = pd.DataFrame(values, columns=headers)

HTML(df.to_html(escape=False))

In [ ]:
# https://www.thecornrow.com/blogs/news/african-astrology-the-ancient-divination-tool-that-may-resonate-with-you?srsltid=AfmBOorUeh4BIMnIYSbIarfiKHuEg7r7RGvBUfFYpU-ngcUfwdqDpjUv

In [ ]:
# https://twofeathers.co.uk/pages/native-american-astrology?srsltid=AfmBOopbS04mYVp6tOSq2JPNG8HBEza0bl4WRWnsUkYNSK88TwY7_YMZ

In [ ]:
# Amerindian

In [12]:
# HIDDEN
import pandas as pd
from IPython.display import HTML

# Define headers and values (as lists)
headers = ['Zodiac', 'nko', 'pronounciation', 'nko pronouncition','image']
values = [
    ['Red Hawk', '', '','',''],
    ['Beaver', '', '','',''],
    ['Deer', '', '','',''],
    ['Woodpecker', '', '','',''],
    ['Salmon', '', '','',''],
    ['Brown Bear', '', '','',''],
    ['Raven', '', '','',''],
    ['Snake','','',''],
    ['Snow Goose', '', '','',''],
    ['Otter', '', '','',''],
    ['Wolf', '', '','',''],
]

# Create the DataFrame with headers and rows of values
df = pd.DataFrame(values, columns=headers)

HTML(df.to_html(escape=False))

In [ ]:
# Constellation

In [ ]:
# HIDDEN
import pandas as pd
from IPython.display import HTML

# Define headers and values (as lists)
headers = ['Latin', 'English Name', 'pronounciation', 'nko pronouncition','image']
values = [
    ['Andromeda', 'Princess of Ethiopia', '','',''],
    ['Antila', 'Air Pump', '','',''],
    ['Apus', 'Bird Of Paradise', '','',''],
    ['Aquarius', 'Water Bearer', '','',''],    
    ['Ara', 'Altar', '','',''],
    ['Aries', 'Ram', '','',''],
    ['Auriga', 'Charioteer', '','',''],
    ['Bootes', 'Herdsman', '','',''],
    ['Caelum','Graving Tool','',''],
    ['Camelopardalis', 'Giraffe', '','',''],
    ['Cancer', 'Crab', '','',''],
    ['Canes Venatici', 'Hunting dogs', '','',''],
    ['Canis Major', 'Big dog', '','',''],
    ['Capricornus', 'Sea goat', '','',''],
    ['Carina', "Keel of Argonauts' ship", '','',''],
    ['Cassiopeia', 'Queen of Ethiopia', '','',''],
    ['Centaurus', 'Centaur', '','',''],
    ['Cepheus', 'Sea of Monster (Whale)', '','',''],
    ['Chamaeleon', 'Chameleon', '','',''],
    ['Cassiopeia', 'Queen of Ethiopia', '','',''],
    ['Circinus', 'Compasses', '','',''],
    ['Columba', 'Dove', '','',''],
    ['Coma Berenices', 'Berenice's hair', '','',''],
    ['Corona Australis', 'Souther crown', '','',''],
    ['Corona Borealis', 'Norther Crown', '','',''],
    ['Corvus', 'Crow', '','',''],
    ['Crater', 'Cup', '','',''],
    ['Crux', 'Cross (southern', '','',''],  
    ['Cygus', 'Swan', '','',''],
    ['Delphinus', 'Porpoise', '','',''],  
    ['Darado', 'Swordfish', '','',''], 
    ['Draco', 'Dragon', '','',''], 
    ['Equuleus', 'Little horse', '','',''], 
    ['Eridanus', 'River', '','',''],
    ['Fornax', 'River', '','',''], 
    ['Eridanus', 'Furnace', '','',''], 
    ['Gemini', 'Twins', '','',''], 
    ['Hercules', 'Herculus, son of Zeus', '','',''], 
    ['Herologium', 'Clock', '','',''], 
    ['Hydra', 'Sea serpent', '','',''], 
    ['Hydrus', 'Water snake', '','',''], 
    ['Indus', 'Indian', '','',''], 
    ['Lacera', 'Lizard', '','',''],
    ['Leo', 'Lion', '','',''],
    ['Leo Minor', 'Little Lion', '','',''],
    ['Lepus', 'Hare', '','',''],
    ['Lynx', 'Lynx', '','',''],
    ['Lyra', 'Lyre of harp', '','',''],
    ['Mensa', 'Table mountain', '','',''],
    ['Microscopium', 'Indian', '','',''],  


    ['Monoceros', 'Unicorn', '','',''],    
    ['Musca', 'fly', '','',''],    
    ['Norma', 'Carpenter's level', '','',''],    
    ['Octans', 'Octant', '','',''],        
    ['Ophiuchus', 'Holder of serpent', '','',''],    
    ['Orion', 'Orion, the hunter', '','',''],    
    ['Pavo', 'Peacock', '','',''],
    ['Pegasus', 'Pegasus, the winged horse', '','',''],    
    ['Perseus', 'Perseus,here who saved Andromeda', '','',''],    
    ['Phoenix', 'Phoenix', '','',''],    
    ['Pictor', 'Easel', '','',''],    
    ['Pisces', 'Fishes', '','',''],    
    ['Piscis Austrinus', 'Southern fish', '','',''],     
    ['Puppis', 'Stern of the Argonauts'ship', '','',''],    
    ['Pyxis', 'Compass of the argonauts' ship', '','',''],    
    ['Recticulum', 'Net', '','',''],    
    ['Sagitta', 'Arrow', '','',''],    
    ['Sagittarius', 'Archer', '','',''],    
    ['Scorplus', 'Scorpion', '','',''],    
    ['Sculptor', 'Sculptor's tool', '','',''],    
    ['Scutum', 'Shield', '','',''],        


    ['Serpens', 'Serpent', '','',''], 
    ['Sextant', 'Sextant', '','',''], 
    ['Taurus', 'Bull', '','',''], 
    ['Telescopium', 'Telescope', '','',''], 
    ['Triangulum', 'Triangle', '','',''], 
    ['Triangulum Australe', 'Southern triagle', '','',''], 
    ['Tucana', 'Toucan', '','',''], 
    ['Ursa Major', 'Big bear', '','',''], 
    ['Vela', 'Sail of the Argonauts' ship', '','',''], 
    ['Virgo', 'Virgin', '','',''], 
    ['Volans', 'Flying firsh', '','',''], 
    ['Vulpecula', 'Fox', '','',''],     
    




    


    
    



        
    
]

# Create the DataFrame with headers and rows of values
df = pd.DataFrame(values, columns=headers)

HTML(df.to_html(escape=False))