In [ ]:
#color

In [19]:
# HIDDEN
import pandas as pd
from IPython.display import HTML

# Define headers and values (as lists)
headers = ['Color', 'nko', 'pronounciation', 'nko pronouncition','image']
values = [
    ['Red', '', '','',''],
    ['Orange', '', '','',''],
    ['Yellow', '', '','',''],
    ['Green', '', '','',''],
    ['Blue', '', '','',''],
    ['Indigo', '', '','',''],
    ['Black', '', '','',''],
    ['White', '', '','',''],
]

# Create the DataFrame with headers and rows of values
df = pd.DataFrame(values, columns=headers)

HTML(df.to_html(escape=False))