In [1]:
# Tone


(english_alphabet_tone)=
# tone
Intonation is the rise and fall of the voice in speaking. It is the accuracy of pitch in playing or singging, or on stringed instrument such as a tamtam.

We distinguish two categories of tones: elevated and elongated.  Elevation of tone is either low or high ;its elongation is either descending or ascending.

As for types of elevated tones: their combination corresponds to a wave. the same applies to elongation.

The decibel of the tones corresponds to its magnitude on a wave.

its vertical magnitude corresponds to its height and the horizontal corresponds to its width. that is to say that elongation corresponds to width of the wave and elevation to the its heigh. therefore any other tone is a combination of the proportions of the wave height and witdth. please see mathematical explanation for further details.

Mandenkan distinguishes four tones: high and low, ascending and descenting. From these four are all others tones produced




**Tone** and **intonation** are both aspects of how we use pitch in speech, but they serve different purposes and are used in different linguistic contexts. Here's a breakdown of each:

### **Tone**
- **Definition**: Tone refers to the use of pitch to distinguish word meaning.
- **Usage**: In **tonal languages** (e.g., Mandarin, Thai, Yoruba), tone is an essential part of a word’s identity. The same sequence of sounds can have different meanings depending on the pitch or pitch pattern used.
- **Example**: In Mandarin, the syllable "ma" can mean different things depending on the tone used:
  - **mā** (high level tone) = "mother"
  - **má** (rising tone) = "hemp"
  - **mǎ** (falling-rising tone) = "horse"
  - **mà** (falling tone) = "scold"
  
### **Intonation**
- **Definition**: Intonation refers to the variation of pitch across a sentence or phrase, used to convey meaning or emotion, or to signal the type of sentence (e.g., question, statement, command).
- **Usage**: Intonation occurs in **non-tonal languages** (e.g., English) and can change the nuance or intention behind a sentence, but it doesn’t change the literal meaning of individual words.
- **Example**: In English, you can say the same words with different intonations:
  - "You're coming." (statement, falling intonation)
  - "You're coming?" (question, rising intonation)
  - "You're *coming*!" (emphasis, expressive intonation)

### Key Differences:
- **Tone** affects individual words and their meanings.
- **Intonation** affects the overall meaning or mood of a sentence, without changing the dictionary meaning of the words. 

Tonal languages have both **tone** and **intonation**, while non-tonal languages like English rely primarily on **intonation**.

(english_alphabet_table_tone)=

```{table} nko Number
:name: my-table-number_ref
|ߊ߮|ߊ߳|ߊ߲|ߊ߭|ߊ߱|ߊ߯|ߊ߰|ߊ߬|ߊ߫|ߊ|
|-|-|-|-|-|-|-|-|-|-|
```

In [2]:
# HIDDEN
import pandas as pd
from IPython.display import HTML

# Define headers and values (as lists)
headers = ['Tone', 'name', 'nko name','english pronouncia', 'nko pronouncition']
values = [
    ['ߊ', 'regular','kanmayele kakodo','',''],
    ['ߊ߫', 'Elevated and abrupt','kanmayele labaranen','',''],
    ['ߊ߬',  'Lowered and abrupt','kanmajii labaranen','',''], 
    ['ߊ߰', 'lowerd, abrupt and elongated','kanmajii labaranen samanama','',''],
    ['ߊ߭', 'lowered and serene','kanmajii mafanen','',''],
    ['ߊ߯', 'elevated,abrupt and elongated','kanmayele labaranen samanama','',''],
    ['ߊ߱',  'lowered, serene and elongated','kanmayele mafanen samanama','',''],  
    ['ߊ߮',  'elevated, serene and elongated','kanmajii mafanen samanama','',''], 
    ['ߊ߲',  'nasalizer','kannadiyalan','',''], 
     ['ߊ߳', 'emphasis, seat on word', 'sirita ladan ton filanen','',''],   
]

# Create the DataFrame with headers and rows of values
df = pd.DataFrame(values, columns=headers)

HTML(df.to_html(escape=False))

In [3]:
# HIDDEN
import pandas as pd
from IPython.display import HTML
from kukukan import image,sound,panda

# Define headers and values (as lists)
headers = ['Tone', 'first', 'second','third']
values = [
    ['Elevation', '','',''],
    ['', 'ߊ','',''], 
    ['', 'ߊ߫','',''], 
    ['', 'ߊ߯','',''], 
    ['', 'ߊ߱','',''], 
    ['', 'ߊ߮','',''],

    ['Low', '','',''],
    ['', 'ߊ߬','',''], 
    ['', 'ߊ߰','',''], 
    ['', 'ߊ߭','',''], 


    ['sharp', '','',''],
    ['', '','ߊ߫',''], 
    ['', '','ߊ߬',''], 
    ['', '','ߊ߯',''],  

    ['serene', '','',''],
    ['', '','ߊ߭',''], 
    ['', '','ߊ߱',''], 
    ['', '','ߊ߮',''],    

    ['elongated', '','',''],
    ['', '','','ߊ߰'], 
    ['', '','','ߊ߯'], 
    ['', '','','ߊ߱'],   

    ['acceleration', '','',''],
    ['', '','','ߊ߮'],     
    
]

# Create the DataFrame with headers and rows of values
df = pd.DataFrame(values, columns=headers)
coloredDf = panda.colors(df,[1,7,11,14,19,23],'green')

HTML(coloredDf.to_html(escape=False))