In [1]:
# Tone

(english_alphabet_table_tone)=

```{table} nko Number
:name: my-table-number_ref
|ߊ߮|ߊ߳|ߊ߲|ߊ߭|ߊ߱|ߊ߯|ߊ߰|ߊ߬|ߊ߫|ߊ|
|-|-|-|-|-|-|-|-|-|-|
```

In [2]:
# HIDDEN
import pandas as pd
from IPython.display import HTML

# Define headers and values (as lists)
headers = ['Image', 'nko', 'pronounciation', 'nko pronouncition','image']
values = [
    ['', '', 'Shadow','dja',''],
    ['', '', 'Rainbow','',''],
    ['', '', 'Universe','',''], 
    ['', '', 'Mirrage','',''],
    ['', '', 'Rain','',''],
    ['', '', 'Star','',''],
    ['', '', 'Cosmos','',''],  
    ['', '', 'Eclipse','',''], 
    ['', '', 'Black Hole','',''], 
     ['', '', 'Universe','',''],   
]

# Create the DataFrame with headers and rows of values
df = pd.DataFrame(values, columns=headers)

HTML(df.to_html(escape=False))