# Prefix
## ߦߍߕߎ߲

In [239]:
# HIDDEN
import pandas as pd
from IPython.display import HTML
from kukukan import image,sound,panda

# Define headers and values (as lists)
headers = ['name', 'nko', 'pronounciation', 'nko pronouncition']
values = [
    ['tun', 'Connect', '',''],
    ['tunli', '', '',''],
    ['tunni', 'Connection', '',''],    
    ['tunta', 'Connectable', '',''],
    ['tunna', '', '',''],
    ['tunma', 'Connector (person)', '',''],
    ['tunnen', '', '',''],
    ['tuntoh', '', '',''], 
    ['tunra', '', '',''],
    ['tundi', '', '',''],
    ['faa', '', '',''],  
]

# Create the DataFrame with headers and rows of values
df = pd.DataFrame(values, columns=headers)
coloredDf = panda.colors(df,[3,5],'red')


HTML(coloredDf.to_html(escape=False))